# Исключаем виртуальное окружение
venv/

# Исключаем файлы кеша Python
**/__pycache__/
*.pyc
*.pyo

# Исключаем файлы конфигурации IDE
*.idea/
*.vscode/

# Исключаем файл конфигурации git
.git/
.gitignore

# Исключаем данные, которые уже подключаются через Volume
trip/trip/data/

# Исключаем лог-файлы и временные файлы
*.log
*.tmp
*.swp

# Исключаем файлы или папки, которые не нужны для сборки
*.bak
*.old
